body{
	font-size: 16px;
	max-width: 1024px;
	margin: 0 auto;
}
/*body section{
	border: 1px;
	margin: 0 auto;
}*/
header nav ul{
	margin-top: 50px;
	background: orange;
	padding: 14px;
	border-radius: 5px;

}
header nav ul li{
	display: inline-block;
	padding:0px 30px 0px 1px;
	/*border: 1px solid red;*/
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	color: white;
	font-size: 0.85em;
}
#art1,#art2{
	display: inline-block;
	vertical-align: top;
}
#art1,#art2 article{
	/*margin: 0 auto;*/
	border:1px solid blue;
}
#art1{
	width: 59%;
	margin-left: 32px;
	/*margin-right: 20px;*/
	/*margin: 0 auto;*/
	/*border: 1px solid green;*/
}
#art1 article{
	/*display: inline-block;*/
}
#art2{
	/*margin: 0 auto;*/
	width: 33%
	margin-left: 20px;
	border: 1px solid red;
	/*display: inline-block;*/
}
#art2 article{
	/*padding-left: 20px;*/
	margin-top: 25px;
	text-align: center;
	padding-bottom: 15px;
}
#buscador{
	height: 80px;
}
/*#primerimagen{
	margin-top: 30px;
	border:1px solid red;
}*/
#artlim{
	border-bottom: 1px solid gray;
}
#escritor{
	/*width: 31%;*/
	/*margin-bottom: 10px;*/
	padding-left: 10px;
	border-bottom: 1px solid gray;
	border-radius: 7px;
	/*margin-right: 40px;*/
	padding-right: 130px;
	padding-bottom: 6px;
}
#escritor i{
	color: gray;
}
#sb{
	border: 1px solid gray;
	border-radius: 20px;
	padding: 7px;


}
#sb input{
	/*text-align: center;*/
	/*margin: 0 auto;*/
	border-radius: 30px;
	/*vertical-align:middle;
	display:inline;*/
}
#sb input[type="button"]{
	padding: 4px 4px;
	border-radius: 50%;
}
#wea{
	/*border: 1px solid green;*/
	
	
}
#wea article{
	display: inline-block;
	/*border: 1px solid red;*/
	
}
#ay{
	width: 32%;
	text-align: center;
}
#ay img{
	border: 8px solid lightgray;
}
#ay2{
	vertical-align: top;
	padding-top: 10px;
	width: 65%
}
#ay2 input{
	background: darkgray;
	color: white;
	font-size: 1.1em;
	font-style: 'Montserrat', sans-serif;
	font-weight: bold;
	border-radius: 5px;
	padding: 8px 4px;
}
#artitle{
	/*border: 1px solid red;*/
	/*display:inline-block;*/
}
#limon{
	
	width: 96%;
}
#logo{
	margin-top: 10px;
	margin-left: 15px;
}
#thema{
	/*border: 1px solid red;*/
	color: gray;
	font-size: 1.8em;
	font-family: 'Londrina Shadow';
	margin-left: 15px;
}
#title{
	/*margin-top: 10px;*/
	padding-left: 25px;
	/*border: 1px solid red;*/
	font-size: 1.6em;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: gray;
}
.encabezados{
	background: orange;
	border-radius: 15px;
	display: block;
	padding: 10px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;

}
.sim{
	float: right;
}